<header id="topnav">
  <div class="navbar-custom">
    <div class="container-fluid">
      <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="dropdown notification-list">
          <a
            class="navbar-toggle nav-link"
            [ngClass]="{ open: isMenuOpened }"
            (click)="isMenuOpened = !isMenuOpened"
          >
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>

        </li>

        <li class="d-none d-lg-block d-xl-block">
          <a
            class="nav-link nav-user mr-0 waves-effect"
            href="https://www.zattona.com/evaluate"
            role="button"
            target="_blank"
          >
            <img
              title="zattona Trustpilot"
              src="./assets/images/star.svg"
              alt="zattona review"
              class="rounded-circle"
            />
            <span class="pro-user-name ml-1" style="vertical-align: middle"
              >Review us
            </span>
          </a>
        </li>
      </ul>

      <div class="logo-box">
        <a routerLink="/" class="logo text-center">
          <span class="logo-lg">
            <img
              title="zattona logo"
              src="./assets/images/logo.svg"
              alt="zattona logo"
              style="width: 120px; height: 60px"
            />
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="topbar-menu">
    <div class="container-fluid">
      <div
        id="navigation"
        class="active"
        [ngClass]="{ 'display-block': isMenuOpened }"
      >
        <ul class="navigation-menu in">
          <li *ngFor="let menu of menus" class="has-submenu active">
            <a
              href="javascript:void(0)"
              class="active"
              (click)="iconClicked(menu?.team)"
              ><i class="mdi mdi-chart-areaspline"></i>{{ menu?.team }}
              <div class="arrow-down"></div>
            </a>
            <ul [attr.id]="menu?.team" class="submenu in">
              <li *ngFor="let cat of menu?.menus">
                <a routerLink="/category/{{ cat?.url?.split('/')?.pop() }}">
                  <i class="mdi mdi-cloud-search-outline"></i
                  ><i class="{{ cat?.icon }}"></i>
                  {{ cat?.name }}
                </a>
              </li>
            </ul>
          </li>

          <li *ngFor="let menu of customMenus" class="has-submenu active">
            <a
              href="javascript:void(0)"
              class="active"
              (click)="iconClicked(menu?.team)"
              ><i class="mdi mdi-chart-areaspline"></i>{{ menu?.team }}
              <div class="arrow-down"></div>
            </a>
            <ul [attr.id]="menu?.team" class="submenu in">
              <li *ngFor="let cat of menu?.menus">
                <a routerLink="{{ cat?.url }}">
                  <i class="mdi mdi-cloud-search-outline"></i
                  ><i class="{{ cat?.icon }}"></i>
                  {{ cat?.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>