<div class="sidebar">
  <div class="widget">
    <h3 class="news-title">
      <span>Keep in touch</span>
    </h3>

    <ul class="list-inline social-widget">
      <li class="list-inline-item" *ngFor="let social of socials">
        <a
          class="btn btn-icon btn-3 btn-primary btn-sm"
          rel="noopener noreferrer"
          href="{{ social?.url }}"
          target="_blank"
          title="{{ social?.title }}"
        >
          <i class="{{ social?.icon }}"></i>
        </a>
      </li>
    </ul>
  </div>
  <!--Featured post-->
  <div class="widget">
    <h3 class="news-title">
      <span>Featured Post</span>
    </h3>

    <div class="post-list-block">
      <div
        class="post-block-wrapper post-float"
        *ngFor="let post of featuredPosts"
      >
        <div class="post-thumbnail">
          <a routerLink="/post/{{ post.slug }}">
            <img
              class="img-fluid"
              [defaultImage]="defaultImage"
              width="400px"
              height="200px"
              [lazyLoad]="post?.thumbnail"
              [alt]="post?.title"
            />
          </a>
        </div>
        <div class="post-content">
          <h2 class="post-title title-sm">
            <a routerLink="/post/{{ post?.slug }}">{{ post?.title }}</a>
          </h2>
          <div class="post-meta">
            <!-- <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>2 hours ago</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--EOF Featured post-->
  <!-- <div class="widget">


  </div> -->
  <div class="widget">
    <h3 class="news-title">
      <span>Support us</span>
    </h3>

    <!-- <p>If You Appreciate What We Do Here On zattona, You Should Consider:</p> -->
    <p class="text-center">
      <a
        href="https://www.buymeacoffee.com/zattona"
        rel="nofollow"
        target="_blank"
        ><img
          class="rounded w-100"
          alt="Support Us"
          src="./assets/images/coffee.png"
      /></a>
    </p>
  </div>
  <div class="widget">
    <h3 class="news-title">
      <span>Tags</span>
    </h3>
    <app-tc-list></app-tc-list>
  </div>
</div>
