<div class="row">

  <div class="widget-title widget-popular-posts-title">
    <h4 class="title">Popular Posts</h4>
  </div>

  <div class="col-sm-12 widget-body">
    <div class="row">
      <ul class="widget-list w-popular-list">


        <li *ngFor="let post of popularPosts">
          <div class="left">
            <a routerLink="/post/{{post._id}}">
              <img [src]="post.image?.url"
                
                class="img-responsive lazyloaded" alt="">
            </a>
          </div>
          <div class="right">
            <h3 class="title">
              <a routerLink="/post/{{post._id}}">
                {{post.title}}</a>
            </h3>
            <div class="post-meta">
              <p class="post-meta-inner">
          <!--       <span>
                  <a href="#">
                    author </a>
                </span>
                <span>
                  <i class="icon-clock"></i>&nbsp;&nbsp;Aug 21, 2020 </span>
                <span>
                  <i class="icon-comment"></i>&nbsp;
                  10 </span>

                <span>
                  <i class="icon-eye"></i>&nbsp;
                  2361 </span> -->
              </p>
            </div>
          </div>
        </li>



       
      </ul>
    </div>
  </div>
</div>
