<section id="main" class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="after-post-box">
          <h2>SpringBootCodeGenerator</h2>
          <form #generatorF="ngForm" (ngSubmit)="onSubmit(generatorF)">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">Package</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="package"
                        value="run.zattona.app"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">TPS</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="tps"
                        value="250"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">请求次数</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="count"
                        value="1000"
                        oninput="value=value.replace(/[^\d]/g,'')"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">执行次数</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="excount"
                        readonly
                        value="0"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Select Code</label>
                      <select
                        id="selectedTmpIds"
                        name="selectedTmpIds"
                        class="form-control"
                        ngModel
                        multiple
                        required
                      >
                        <ng-container *ngFor="let group of templates">
                          <optgroup label="{{ group?.group }}">
                            <option
                              *ngFor="let template of group?.templates"
                              [value]="template?.id"
                            >
                              {{ template?.name }}
                            </option>
                          </optgroup>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>JSON</label>
                      <textarea
                        id="input"
                        name="input"
                        class="form-control"
                        rows="8"
                        ngModel
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-success w-100"
                  id="startBtn"
                  [disabled]="!generatorF?.valid"
                >
                  Generate
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="after-post-box">
          <h2>Generated Code Results</h2>

          <ngx-tabs *ngIf="results && results?.length > 0">
            <ngx-tab
              *ngFor="let item of results"
              tabTitle="{{ item?.className }}"
            >
              <ngx-tabs>
                <ngx-tab
                  *ngFor="let tmp of item?.results"
                  tabTitle="{{ tmp?.tmpName }}"
                >
                  <div class="terminal">
                    <pre>{{ tmp?.tmpCode }}</pre>
                  </div>
                </ngx-tab>
              </ngx-tabs>
            </ngx-tab>
          </ngx-tabs>

          <p class="text-center">
            <a
              href="https://www.buymeacoffee.com/zattona"
              rel="nofollow"
              target="_blank"
              ><img
                class="rounded"
                alt="How to Support zattona.com"
                src="./assets/images/coffee.png"
            /></a>
          </p>
          <p class="text-center">
            <strong>We are thankful for your never ending support.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
