<!-- <section id="main" class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="after-post-box">
          <h2>SpringBootCodeGenerator</h2>
          <form #generatorF="ngForm" (ngSubmit)="onSubmit(generatorF)">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">Package</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="package"
                        value="run.zattona.app"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">Author</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="zattona"
                        value="zattona"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">TPS</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="tps"
                        value="250"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">请求次数</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="count"
                        value="1000"
                        oninput="value=value.replace(/[^\d]/g,'')"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text">执行次数</span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="excount"
                        readonly
                        value="0"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Select Code</label>
                      <select
                        id="selectedTmpIds"
                        name="selectedTmpIds"
                        class="form-control"
                        ngModel
                        multiple
                        required
                      >
                        <ng-container *ngFor="let group of templates">
                          <optgroup label="{{ group?.group }}">
                            <option
                              *ngFor="let template of group?.templates"
                              [value]="template?.id"
                            >
                              {{ template?.name }}
                            </option>
                          </optgroup>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>JSON</label>
                      <textarea
                        id="input"
                        name="input"
                        class="form-control"
                        rows="8"
                        ngModel
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-success w-100"
                  id="startBtn"
                  [disabled]="!generatorF?.valid"
                >
                  Generate
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="after-post-box">
          <h2>Generated Code Results</h2>

          <ngx-tabs *ngIf="results && results?.length > 0">
            <ngx-tab
              *ngFor="let item of results"
              tabTitle="{{ item?.className }}"
            >
              <ngx-tabs>
                <ngx-tab
                  *ngFor="let tmp of item?.results"
                  tabTitle="{{ tmp?.tmpName }}"
                >
                  <div class="terminal">
                    <pre>{{ tmp?.tmpCode }}</pre>
                  </div>
                </ngx-tab>
              </ngx-tabs>
            </ngx-tab>
          </ngx-tabs>

          <p class="text-center">
            <a
              href="https://www.buymeacoffee.com/zattona"
              rel="nofollow"
              target="_blank"
              ><img
                class="rounded"
                alt="How to Support zattona.com"
                src="./assets/images/coffee.png"
            /></a>
          </p>
          <p class="text-center">
            <strong>We are thankful for your never ending support.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img
                    src="https://res.cloudinary.com/genhub/image/upload/v1642687423/z-l_xulkcu.png"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
                  >Connect</a
                >
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-default float-right"
                  >Message</a
                >
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>
              Jessica Jones
              <span class="font-weight-light">, 27</span>
            </h3>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-alternative"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Regular"
                      class="form-control form-control-alternative"
                      disabled=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-zoom-split-in"></i
                        ></span>
                      </div>
                      <input
                        class="form-control form-control-alternative"
                        placeholder="Search"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-4">
                      <input
                        class="form-control"
                        placeholder="Birthday"
                        type="text"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text"
                          ><i class="ni ni-zoom-split-in"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <input
                      type="text"
                      placeholder="Success"
                      class="form-control form-control-alternative is-valid"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-danger">
                    <input
                      type="email"
                      placeholder="Error Input"
                      class="form-control form-control-alternative is-invalid"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>
                  An artist of considerable range, Ryan — the name taken by
                  Melbourne-raised, Brooklyn-based Nick Murphy — writes,
                  performs and records all of his own music, giving it a warm,
                  intimate feel with a solid groove structure. An artist of
                  considerable range.
                </p>
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
