<section class="block-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="content">
          <div class="col-xs-12 col-sm-12 posts ">
            <div class="row">
              <div class="list-group w-100">
                <ng-container *ngFor="let post of posts;let i=index">
                  <a routerLink="/post/{{post.slug}}" class="list-group-item list-group-item-action">
                    {{i+1}} {{post.title}}
                  </a>
                </ng-container>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
