/*Grid coluemt 3*/
.other-tools {
  padding: 10px 10px 30px;
  margin-bottom: 30px;
  background-color: #f7fafc;
  border-radius: 5px;
}

.other-tools__image {
  display: flex;
  /* justify-content: center; */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.other-tools__image img {
  width: auto;
  max-height: 150px;
}

.other-tools__title {
  padding: 24px 20px 20px;
  margin-bottom: 0;
  font-family: museo-sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: #1c2f38;
}

.other-tools__text {
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #526d7a;
}

.other-tools__url {
  margin: 5px 20px 0;
  text-align: center;
}

.other-tools__url .button {
  margin-bottom: 20px;
}

.other-tools .coupons-discount-percent {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #2c3644;
  color: #fff;
  padding: 10px 21px;
  font-size: 16px;
  margin: 11px 30px;

}
