<div class="col-xs-12 col-sm-12 col-xs-12">
  <div class="row m-0">
    <div class="container-wrapper" id="post-newsletter">
      <z-alert [id]="alert.id"></z-alert>
      
      <div class="subscribe-widget">
        <div class="widget-inner-wrap">
          <span class="icon-envelope newsletter-icon" aria-hidden="true"></span>
          <div class="subscribe-widget-content">
            <h3>Subscribe to our mailing list to get latest tutorials!</h3>
          </div>
        </div>
      </div>


      <div id="mc_embed_signup">
        <form
          #emailForm="ngForm"
          (ngSubmit)="addSubscribe(emailForm, subscriberEmail)"
          class="validate"
          target="_blank"
          novalidate=""
        >
          <div class="form-group" [ngClass]="displayCssFor(email, true)">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" [ngClass]="displayCssFor(email)"
                  ><i class="fa fa-envelope-open-o"></i
                ></span>
              </div>
              <input
                type="email"
                id="email"
                placeholder="Enter your Email address"
                [(ngModel)]="subscriberEmail.email"
                #email="ngModel"
                [pattern]="emailPattern"
                name="email"
                class="form-control"
                required
                [ngClass]="displayCssFor(email)"
              />
            </div>

            <!-- <div
              *ngIf="email.invalid && !email.pristine"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <span class="alert-inner--icon"
                ><i class="ni ni-bell-55"></i
              ></span>
              <span class="alert-inner--text"
                ><strong>Error!</strong> Email is required!</span
              >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div> -->
           
            <div
              *ngIf="email.invalid && email.errors.pattern && !email.pristine"
              class="text-danger"
            >
              Must be valid email format!
            </div>
          </div>

          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            class="btn btn-primary btn-lg btn-block"
            [disabled]="!emailForm.valid"
          />

          <!-- <div class="input-group input-group-sm mb-3">
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    type="email"
                    id="email"
                    placeholder="Enter your Email address"
                    [(ngModel)]="subscriberEmail.email"
                    #email="ngModel"
                    [pattern]="emailPattern"
                    name="email"
                    required
                    class="form-control is-invalid"
                  />

                  <div class="input-group-append">
                    <button
                      class="btn btn-primary btn-sm"
                      type="submit"
                      [disabled]="!emailForm.valid"
                    >
                      Subscribe
                    </button>
                  </div>
                </div>
              </div> -->
        </form>
      </div>


      
    </div>
  </div>
</div>
