/* stylelint-disable selector-list-comma-newline-after */

.copy-btn {
  color: #fff;
  background-color: #1273eb !important;
  border: none;
  font-size: 14px;
  transition: 250ms linear;
  padding: 0 10px;
  margin-right: 10px;
  opacity: 0.5;
}

.copy-btn:hover,
.copy-btn:focus,
.copy-btn:active,
.copy-btn.active,
.open .dropdown-toggle.copy-btn {
  background-color: #1273eb !important;
  color: #fff !important;
  border: none;
  box-shadow: inset 0 0 0 100px #0e5cbc !important;
  opacity: 1.5;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-post {
  margin-bottom: 4rem;
  font-size: 1rem;
  width: 100%;

  p {
    font-size: inherit;
    line-height: 2.4;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
  }
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

textarea,
input,
select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  outline: none;
  padding: 5px;
  line-height: 23px;
  border-radius: 2px;
  transition: background 0.3s, border 0.3s;
  max-width: 100%;
}

// Post category
.post-cat {
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.85em;
  border-radius: 2px;
  font-weight: normal;
  margin-right: 4px;
}

// Tag Cloud
.tagcloud {
  display: block;
  text-align: center;
}

.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tagcloud ul li {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  padding: 0;
}

.tagcloud ul li a {
  display: inline-block;
  max-width: 180px;
  height: 40px;
  line-height: 23px;
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: capitalize;
  font-weight: bold;
}

.tagcloud ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

//Breadcrumb
.breadcrumb {
  background-color: #fff;
  color: #999999;
}

.breadcrumb a:hover {
  color: #37cae8;
  text-decoration: none;
}

.breadcrumb a {
  font-size: 14px;
  text-transform: capitalize;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-size: 14px;
}

@media (max-width: 767px) {
  .blog-post .blog-post-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 10px;
  }
}

#related-posts .related-posts-list {
  overflow: hidden;
  margin: 0 -15px -20px;
}

#related-posts .related-item {
  position: relative;
  float: left;
  width: 33.333%;
  padding: 0 15px;
  margin-bottom: 20px;
}

#related-posts .related-item .post-thumb {
  margin-bottom: 10px;
}

.post-thumb {
  position: relative;
  height: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: opacity 0.2s;

  img {
    width: 100%;
    display: block;
    object-fit: contain;
    height: 15vh;
  }
}

#related-posts .related-item .post-title {
  font-size: 14px;
  line-height: 19px;
}

@media (max-width: 767px) {
  #related-posts .related-posts-list {
    margin: 0 -8px -20px;
  }

  #related-posts .related-item {
    width: 50% !important;
    clear: none !important;
  }

  #related-posts .related-item {
    padding: 0 8px;

    img {
      object-fit: contain;
      height: 14vh;
    }
  }
}
