<!-- <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader> -->
<ngx-ui-loader
  [hasProgressBar]="false"
  [fgsTemplate]="foregroundSpinner"
  fgsSize="100"
  bgsSize="64"
></ngx-ui-loader>

<ng-progress [spinner]="false" [color]="'#1273eb'"></ng-progress>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<ng-template #foregroundSpinner>
  <div class="ring">
    <img src="./assets/images/z-l.png" style="height: 50px;width: 50px;" alt="zattona loading img">
    <span></span>
  </div>
</ng-template>
