<!-- <ngx-ui-loader [hasProgressBar]="false"></ngx-ui-loader> -->
<ngx-ui-loader
  [hasProgressBar]="false"
  [fgsTemplate]="foregroundSpinner"
  fgsSize="100"
  bgsSize="64"
></ngx-ui-loader>

<ng-progress [spinner]="false" [color]="'#69e9f5'"></ng-progress>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<ng-template #foregroundSpinner>
  <div class="u-loading">
    <div class="u-loading__symbol">
      <img src="./assets/images/blog_reading_time.png" />
    </div>
  </div>
</ng-template>
