#footer {
  background-color: #1f2024;
  padding-top: 45px;
  color: #ffffff;

  p, a{
    color: #ffffff;
  }

}

.footer-widgets {
  padding-bottom: 10px;
}

.footer-widget {
  margin-bottom: 30px;
  float: left;

  ul{
    padding-left: 15px;
  }
}

.footer-widget .title {
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 100%;

}

.footer-widget .title-line {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #333;
  margin-bottom: 20px;
}

.footer-bottom {
  padding: 25px 0;
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, .06);
  line-height: 36px;
}

.footer-bottom-left {
  float: left;
}

.footer-bottom p {
  font-size: 13px;
  line-height: 36px;
  margin: 0;
}

.footer-bottom-right {
  float: right;
}

.nav-footer {
  margin: 0;
  padding: 0;
}

.nav-footer li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

.nav-footer li a {
  color: #9a9a9a;
  font-size: 13px;
  line-height: 16px;
}

.newsletter {
  display: table;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
}

.newsletter .left {
  display: table-cell;
  vertical-align: top;
}

.newsletter input {
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  background: #3a3a3a;
  border: 0 !important;
  border: 1px solid #dfe0e6;
  outline: none !important;
  color: #ccc;
  height: 36px;
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 3px 0 0 3px;
  float: left;
}

.newsletter .right {
  display: table-cell;
  vertical-align: top;
}

.newsletter .newsletter-button {
  background-color: #0494b1;
  border: 1px solid #0494b1;
}

.newsletter .newsletter-button {
  width: auto;
  min-width: 100px;
  padding: 6px 14px;
  border-radius: 0 3px 3px 0;
  line-height: 1.5;
  outline: none !important;
  font-size: 14px;
  border: 0;
  color: #fff;
  float: left;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.newsletter button {
  background: #0494b1;
}

.f-widget-follow ul {
  margin: 0;
  padding: 0;
}

.f-widget-follow ul li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.f-widget-follow ul li a {
  width: 38px;
  height: 38px;
  color: #ccc;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  display: block;
  border-radius: 2px;
  background-color: #333;
}

.icon-facebook:before {
  content: '\f09a';
}
.icon-twitter:before {
  content: '\f099';
}
.icon-pinterest:before {
  content: '\f231';
}
.icon-youtube:before {
  content: '\f16a';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome; 
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.f-widget-follow ul li .facebook:hover {
  background-color: #3B5998;
  color: #fff!important;
}
.f-widget-follow ul li .twitter:hover {
  background-color: #1DA1F2;
  color: #fff!important;
}
.f-widget-follow ul li .pinterest:hover {
  background-color: #bd081c;
  color: #fff!important;
}
.f-widget-follow ul li .youtube:hover {
  background-color: #f00;
  color: #fff!important;
}
.f-widget-follow ul li a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  #footer {
    background-color: #222;
    color: #ccc;
    margin-top: 30px;
    padding-top: 30px;
  }
}
