<div class="news-style-two">
  <h2 class="news-title">
    <span>{{title}}</span>
  </h2>
  <button class="view-all-button" routerLink="/category/{{slug}}" aria-label="Previous" type="button">All {{title}} Posts </button>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="post-block-wrapper clearfix">
        <div class="post-thumbnail">
          <a routerLink="/post/{{posts[0]?.slug}}">
            <img class="img-fluid" [defaultImage]="defaultImage" [lazyLoad]="posts[0]?.featureImage?.medium" [alt]="posts[0]?.title">
          </a>
        </div>
        <a class="post-category" routerLink="/category/{{slug}}">{{title}}</a>
        <div class="post-content">
          <h3 class="post-title mt-3">
            <a routerLink="/post/{{posts[0]?.slug}}">{{posts[0]?.title}}</a>
          </h3>


          <div class="post-meta mb-2">
            <!-- <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours ago</span> -->
            <!-- <span class="post-author">
                by
                <a href="#">demo</a>
              </span> -->
          </div>
          <p>{{posts[0]?.excerpt}}</p>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="post-list-block m-top-0">
        <div class="post-block-wrapper post-float clearfix" *ngFor="let post of posts | slice:1;">
          <div class="post-thumbnail">
            <a routerLink="/post/{{post.slug}}">
              <img class="img-fluid" [defaultImage]="defaultImage" width="400px" height="200px" [lazyLoad]="post.featureImage?.thumb" [alt]="post.title">
            </a>
          </div>

          <div class="post-content">
            <h2 class="post-title title-sm">
              <a routerLink="/post/{{post.slug}}">{{post.title}}</a>
            </h2>
            <div class="post-meta">
              <!-- <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>7 hours ago</span> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
