a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: inherit !important;
}

#MessageViewBody a {
  color: inherit;
  text-decoration: none;
}
#MessageViewBody a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: inherit
}

@media (max-width:670px) {
  .icons-inner {
    text-align: center;
  }

  .icons-inner td {
    margin: 0 auto;
  }

  .row-content {
    width: 100% !important;
  }

  .stack .column {
    width: 100%;
    display: block;
  }

  .reverse {
    display: table;
    width: 100%;
  }

  .reverse .column.first {
    display: table-footer-group !important;
  }

  .reverse .column.last {
    display: table-header-group !important;
  }
}