<section class="block-wrapper container">
  <div *ngIf="!isLoading; else loader_content">
    <div class="row">
      <ng-container *ngIf="firstPost; else postNotFound">
        <div class="col-lg-8 col-md-12 layout_8 main-content DESC">
          <article class="aff-post has-post-thumbnail lay-8" *ngIf="firstPost">
            <header class="aff-aff-post-header aff-aff-post-header cf">
              <div class="featured">
                <a
                  routerLink="/post/{{ firstPost?.slug }}"
                  class="image-link media-ratio ratio-3-2 lay_8_img_fea"
                >
                  <img
                    [defaultImage]="defaultImage"
                    width="700px"
                    height="400px"
                    [lazyLoad]="firstPost?.thumbnail"
                    [alt]="firstPost.title"
                  />
                </a>
              </div>
            </header>
            <div
              class="aff-post-content cf aff-entry-content has-share-float aff-content-spacious"
            >
              <div
                class="aff-post-meta aff-post-meta-c aff-post-meta-left the-aff-post-meta has-below"
              >
                <h2 class="is-title aff-post-title-alt">
                  <a
                    routerLink="/post/{{ firstPost?.slug }}"
                    [title]="firstPost.title"
                    >{{ firstPost?.title }}</a
                  >
                </h2>
                <div class="meta-title">
                  <div
                    class="aff-post-meta aff-post-meta-c aff-post-meta-left has-below"
                  >
                    <span class="post-date">
                      Published on
                      {{ firstPost?.createTime | date: "longDate" }}</span
                    >
                  </div>
                </div>
                <div class="aff-meta-above">
                  <span class="aff-cat-labels"
                    ><a href="#" class="category" rel="category"
                      >Angular</a
                    ></span
                  >
                </div>
              </div>
              <p>{{ firstPost.excerpt }}</p>
            </div>
          </article>
          <article
            id="post-34951"
            class="aff-post aff-posts-flex-grid has-post-thumbnail"
          >
            <div
              class="aff-post-content1 cf aff-entry-content has-share-float aff-content-spacious1 lay-8"
              *ngFor="let post of posts | slice: 1 | paginate: page"
            >
              <figure
                id="attachment-34750"
                aria-describedby="caption-attachment-34750"
                class="aff-wp-caption post-figure-margin-bottom"
              >
                <a routerLink="/post/{{ post?.slug }}" class="lay_8_img">
                  <img
                    width="500"
                    height="270"
                    [src]="post?.thumbnail"
                    class="attachment-grid-featured-image size-grid-featured-image wp-post-image"
                    [alt]="post?.title"
                    itemprop="image"
                /></a>
                <figcaption
                  id="caption-attachment-34750"
                  class="aff-wp-caption-text"
                ></figcaption>
              </figure>
              <div
                class="aff-post-meta aff-post-meta-c aff-post-meta-left the-aff-post-meta has-below"
              >
                <h2 class="is-title aff-post-title-alt" itemprop="headline">
                  <a
                    routerLink="/post/{{ post?.slug }}"
                    [title]="post?.title"
                    >{{ post?.title }}</a
                  >
                </h2>
                <div class="meta-title">
                  <div
                    class="aff-post-meta aff-post-meta-c aff-post-meta-left has-below"
                  >
                    <!--  <span
                  class="aff-meta-item aff-post-author" itemprop="author">
                  <span class="by"> Written by </span><a
                    href="#"
                    title="Posts by">Jignesh zala</a></span> --><a
                      href="#"
                      class="aff-meta-item date-link"
                      itemprop="datePublished"
                      ><span class="post-date">
                        Published on
                        {{ post?.createTime | date: "longDate" }}</span
                      ></a
                    >
                  </div>
                </div>
                <div class="aff-meta-above">
                  <span class="aff-cat-labels"
                    ><a href="#" class="category" rel="category"
                      >Nodejs</a
                    ></span
                  >
                </div>
              </div>
              <p>{{ post.excerpt }}</p>
            </div>
          </article>
          <!-- Pagination -->
          <div class="col-xs-12 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-center">
              <pagination-controls
                *ngIf="posts?.length > 0"
                responsive="true"
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="getPage($event)"
                id="{{ page.id }}"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </ng-container>
      <aside class="col-lg-4 col-md-12 sidebars s_right">
        <div class="sidebar">
          <div class="col-sm-12 col-xs-12 sidebar-widget">
            <div class="widget">
              <h3 class="news-title">
                <span>Keep in touch</span>
              </h3>

              <ul class="list-inline social-widget">
                <li class="list-inline-item">
                  <a
                    class="social-page facebook"
                    rel="noopener noreferrer"
                    href="https://www.facebook.com/TutsCoder"
                    target="_blank"
                    title="facebook"
                  >
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="social-page twitter"
                    rel="noopener noreferrer"
                    href="https://twitter.com/tutscoder"
                    target="_blank"
                    title="twitter"
                  >
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a
                    class="social-page youtube"
                    rel="noopener noreferrer"
                    href="https://www.youtube.com/channel/UCmObcNnWeVBlSeO_iQhsRcA"
                    target="_blank"
                    title="youtube"
                  >
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>

                <li class="list-inline-item">
                  <a
                    class="social-page pinterest"
                    rel="noopener noreferrer"
                    href="https://in.pinterest.com/tutscoder"
                    target="_blank"
                    title="pinterest"
                  >
                    <i class="fa fa-pinterest"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--  <div class="col-sm-12 col-xs-12 sidebar-widget">

          <div class="widget">
            <h3 class="news-title">
              <span>Popular Post</span>
            </h3>

            <div class="post-list-block">
              <div class="post-block-wrapper post-float" *ngFor="let post of relatedPosts">
                <div class="post-thumbnail">
                  <a routerLink="/post/{{post.slug}}">
                    <img class="img-fluid" [src]="post.featureImage?.url" alt="post-thumbnail">
                  </a>
                </div>
                <div class="post-content">
                  <h2 class="post-title title-sm">
                    <a routerLink="/post/{{post.slug}}">{{post.title}}</a>
                  </h2>
                  <div class="post-meta">
                    <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>2 hours ago</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div> -->

          <div
            class="col-sm-12 col-xs-12 sidebar-widget widget-popular-posts mt-3"
          >
            <div class="widget">
              <h3 class="news-title">
                <span>Support us</span>
              </h3>

              <!-- <p>If You Appreciate What We Do Here On zattona, You Should Consider:</p> -->
              <p class="text-center">
                <a
                  href="https://www.buymeacoffee.com/zattona"
                  rel="nofollow"
                  target="_blank"
                  ><img
                    class="rounded w-100"
                    alt="Support Us"
                    src="./assets/images/coffee.png"
                /></a>
              </p>
            </div>
          </div>

          <div class="col-sm-12 col-xs-12 sidebar-widget">
            <div class="widget">
              <h3 class="news-title">
                <span>Tags</span>
              </h3>

              <app-tc-list [link]="'tag'" [list]="tagsList"></app-tc-list>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<ng-template #postNotFound>
  <div class="col-lg-8 col-md-12 layout_8 main-content DESC">
    <h1>Sorry , we can't find any article match this tag</h1>
  </div>
</ng-template>

<ng-template #loader_content>
  <div class="linear-background"></div>
</ng-template>
